.landing-page-item {
    display: flex;
    flex-direction: column;
    @include justify-space-between;
    // min-height: rem(1000);
    box-sizing: content-box;
    // height: calc(100vh);
    // padding-top: rem(160);
    padding-bottom: rem(100);
    
    
}