@import "./_wide/landing-page-item_wide.scss";
@import "./_narrow/landing-page-item_narrow.scss";


.landing-page-item {
    display: flex;
    flex-direction: column;
    @include justify-space-between;
    // min-height: rem(1000);
    box-sizing: content-box;
    // height: calc(100vh);
    // padding-top: rem(160);
    padding: rem(70) 0 rem(100);
    
    
}