.header_small {
    & .header__contacts {
        display: none;
    }
    & .header__logo-container {
        width: rem(200);
    }
    & .header-content {
        display: grid;
        grid-template-areas:
            // "logo title"
            "logo header-menu";
        grid-template-rows: 100%;
        grid-template-columns: rem(400) 1fr;
        padding-top: 0;
    }
    & .header-wrapper {
        position: fixed;
        top: 0;
        z-index: 10;
        height: rem(60);
        background-color: $white;
    }
    & .header__line {

    }
}