.landing-page-main-services-item {
    // width: rem(200);
    
    overflow: hidden;
   & > a {
    display: flex;
    flex-direction: column;

   }
   &:hover {
       transform: scale(1.1);  
       transition: 1s; 
       & .landing-page-main-services-item__title {
           color: $red;
       }
   }

}