.contact-time {
    
    grid-area: time;
    padding-left: rem(30);
    font-size: rem(12);
    color: $dark75;
    position: relative;
    
    &:before {
        content: "access_time";
        @include material-icon(rem(20));
        position: absolute;
        left: rem(5);
        top: rem(2);
        
        
        
        
  
        
    }
}