@import "../../../../vars/vars.scss";
@import "../../../../mixins/mixins.scss";

.header-wrapper {

    box-shadow: $headerShadow;
    box-sizing: border-box; 
    // height: rem(115);
    width: 100%;
 
    // position: fixed;
    // top: 0;
    // z-index: 10;

    // @media screen and (max-width: 1024px) and (min-width: 800px) {
    //     height: rem(100);
    // }
    
    // @media screen and (max-width: 800px) {
    //     height: rem(80);
    // }

}
