.landing-page__title {
    @include fontH1;
    @include justify-center;
    height: rem(120);
    width: 100%;
    box-sizing: border-box;
    color: $red;
    // text-align: center;
    // align-items: center;
    // display: block;
    //
}