/*COLORS*/

/*Color names*/
$dark100:#1F2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark15: rgba(31, 32, 65, 0.15);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$white: #FFFFFF;
$red: rgb(247, 12, 12);

/*font colors*/
$colorFontH1: $dark75;
$colorFontH2: $dark100;
$colorFontH3: $dark75;
$colorFontBody: $dark75;

/*Elements color*/

/*FONTS*/

/*font names*/

/*font-size*/
$mainFontSize: 25px;
$fontSizeH1: rem(28);
$fontSizeH2: rem(19);
$fontSizeH3: rem(16);
$fontSizeBody: rem(14);

/*line-height*/

$lineHeightH1: rem(30);
$lineHeightH2: rem(24);
$lineheightH3: rem(20);
$lineHeightBody: rem(20);


/*border*/
$borderCard: 1px solid rgba(0, 0, 0, 0.2);
$borderInputDefault: 1px solid $dark25;
$borderInputHover: 1px solid $dark50;

/*border radius*/

$borderRadiusInput: 4px;
$borderRadiusCard: 4px;
$borderRadiusCheckboxButton: rem(4);


/*backgrounds*/
$cardBackgroundColor: #FFFFFF;


/*shadows*/
$cadrShadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
$datepickerShadow: 0px 10px 20px $dark5;
$headerShadow: 0px rem(10) rem(20) $dark10;

/*Widths*/

$maxWidth: 1200px;
$minWidth: 320px;

// $path: '/FSD';
$path: '';

@media screen and (max-width: 1160px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 640px) {
    
}





