// @import "../../../../../mixins/mixins.scss";

.menu__item a {
    // @include justify-space-between;
    font-weight: bolder;
    color: $dark75;
    &:hover {
        color: $red;
       
    }
 
}