extends ../layout/main.pug

block variables 

block content
  .landing-page-wrapper
    .landing-page-main
      .landing-page-main__title ВЫЕЗДНОЙ РЕМОНТ БЫТОВОЙ ТЕХНИКИ В САНКТ-ПЕТЕРБУРГЕ И ПРИГОРОДЕ
      ul(class="landing-page-main-services")
        li(class="landing-page-main-services-item")
          a(href="#")
            .landing-page-main-services-item__title Ремонт холодильников
            img(class="landing-page-main-services-item__img" src="./assets/img/pictures/fridge.jpg")
        li(class="landing-page-main-services-item")
          a(href="#")
            .landing-page-main-services-item__title Ремонт стиральных машин
            img(class="landing-page-main-services-item__img" src="./assets/img/pictures/wash-mach.jpg")
        li(class="landing-page-main-services-item")
          a(href="#") 
            .landing-page-main-services-item__title Ремонт посудомоечных машин
            img(class="landing-page-main-services-item__img" src="./assets/img/pictures/dish-wash.jpg")

    .landing-page-about.landing-page-item
      .landing-page-about__title.landing-page-block-title НАШИ ПРИЕМУЩЕСТВА
      ul(class="landing-page-about__menu")
        li(class="landing-page-about__menu-item") У нас бесплатный выезд и диагностика неисправности
        li(class="landing-page-about__menu-item") Ремонт начинается всегда после согласования его стоимости с Вами
        li(class="landing-page-about__menu-item") Мы всегда предоставляем гарантию на выполненые работы
        li(class="landing-page-about__menu-item") Мы используем только качественные и оригинальные запчасти

    .landing-page-operating.landing-page-item
      .landing-page-operating__title.landing-page-block-title ПОРЯДОК ПРЕДОСТАВЛЕНИЯ УСЛУГИ
      ul(class="landing-page-operating__menu")
        li(class="landing-page-operating__menu-item") Позвоните нам или закажите обратный вызов. 
        |Мы проконсультируем Вас о возможных неисправностях техники и необходимом ремонте.
        a(href="#" class="") Также Вы можете воспользоваться нашим преложением для определения неисправности.
        li(class="landing-page-operating__menu-item") Выезд мастера осуществляется в течение 30 минут после вызова или в удобное для Вас время.
        li(class="landing-page-operating__menu-item") Диагностика неисправности.
        li(class="landing-page-operating__menu-item") Выполнение ремонта.  
    .landing-page-call.landing-page-item
      .landing-page-call__title КАК С НАМИ СВЯЗАТЬСЯ
      .landing-page-call__direct-call
        .direct-call__title Позвоните нам
        .direct-call__text Позвоните нам по телефону и сообщите о неисправностях Вашей бытовой техники
        .direct-call__phone-number-button 
          input(type="button" value="8(800) 000-00-00")
      .landing-page-call__callback
        .callback-form       
          form(action="")
          .callback-form__title Заказать звонок
          .callback-form__text Заполните форму и мы перезвоним Вам в течение 3-х минут
          .callback-form__name
            input(class="callback-form__input-name" type=text, placeholder="Ваше имя")
          .callback-form__phone-number
            input(class="callback-form__input-phone-number" type=text, placeholder="+7 (___) ___-__-__")
          .callback-form__button
            input(class="callback-form__input-button" type="button", value="Позвоните мне!")
            




    
  
 
    
    
      
        
    
        
    