extends ../layout/main.pug

//- include ../../blocks/elements/elements.pug

block variables 

block content
  include ../../blocks/elements/elements.pug
  .landing-page-wrapper
    .landing-page-main
      .landing-page__title ВЫЕЗДНОЙ РЕМОНТ БЫТОВОЙ ТЕХНИКИ В САНКТ-ПЕТЕРБУРГЕ И ПРИГОРОДЕ
      ul(class="landing-page-main-services")
        li(class="landing-page-main-services-item")
          a(href="#")
            .landing-page-main-services-item__title Ремонт холодильников
            img(class="landing-page-main-services-item__img" src="./assets/img/pictures/fridge.png")
        li(class="landing-page-main-services-item")
          a(href="#")
            .landing-page-main-services-item__title Ремонт стиральных машин
            img(class="landing-page-main-services-item__img" src="./assets/img/pictures/wash-mach.png")
        li(class="landing-page-main-services-item")
          a(href="#") 
            .landing-page-main-services-item__title Ремонт посудомоечных машин
            img(class="landing-page-main-services-item__img" src="./assets/img/pictures/dish-wash.png")
      .landing-page-main__text 
        a(href="#") ПОЗВОНИТЕ НАМ! 
        |ВАС ПРОКОСУЛЬТИРУЕТ НЕ ПРОСТО ДИСПЕТЧЕР, А ОПЫТНЫЙ МАСТЕР ПО РЕМОНТУ БЫТОВОЙ ТЕХНИКИ. 
        br
        |ВОЗМОЖНО В ВАШЕМ СЛУЧАЕ РЕМОНТ НЕ ТРЕБУЕТСЯ!
       
    
    .landing-page-advantage.landing-page-item
      .landing-page__title НАШИ ПРИЕМУЩЕСТВА
      .landing-page-advantage-items
        +advantageItem(
          "БЕСПЛАТНАЯ ДИАГНОСТИКА",
          "У нас бесплатный выезд и диагностика неисправности. Вы платите только за успешный ремонт",
          "./assets/img/pictures/icon_freeCheckOut.svg"
        )
        +advantageItem(
          "БЫСТРЫЙ ВЫЕЗД К КЛИЕНТУ",
          "Выезд мастера в течение 30 минут или в удобное для Вас время",
          "./assets/img/pictures/icon_stopwatch.svg"
        )
        +advantageItem(
          "ЧЕСТНОСТЬ И ОТВЕТСТВЕННОСТЬ",
          "Ремонт начинается только после согласования стоимости",
          "./assets/img/pictures/icon_handShake.svg"
        )
        +advantageItem(
          "НАДЕЖНОСТЬ",
          "Мы всегда даем гарантию на выполненные работы до 3-х лет",
          "./assets/img/pictures/icon_warranty.svg"
        )
        +advantageItem(
          "КАЧЕСТВО",
          "Мы используем только качественные запасные части",
          "./assets/img/pictures/icon_quality.svg"
        )
        +advantageItem(
          "НИЗКАЯ ЦЕНА",
          "У нас одни из самых низких цен в городе",
          "./assets/img/pictures/icon_save.svg"
        )
    .landing-page-prices.landing-page-item
      .landing-page__title УСЛУГИ И ЦЕНЫ
      .prices-wrapper
        .prices-choise
          .prices-choise__repair-fridge.prices-choise__repair.prices-choise__item_not-selected
            .choise-repair-title Неисправности холодильников
          .prices-choise__repair-washmach.prices-choise__repair.prices-choise__item_selected
            .choise-repair-title Неисправности стиральных машин
          .prices-choise__repair-dishwash.prices-choise__repair.prices-choise__item_not-selected
            .choise-repair-title Неисправности посудомоечных машин
        .prices-result-fridge.prices-result
          +pricesResultItem("Холодильник не морозит", ["Заправка хладагентом", "Устранение утечки", "Устранение засора", "Замена компрессора", "Ремонт электронного модуля"], 750)
          +pricesResultItem("Холодильник громко работает", ["Заправка хладагентом", "Устранение утечки", "Устранение засора", "Замена компрессора"], 750)
          +pricesResultItem("Холодильник перемораживает", ["Замена термостата", "ремонт электронного модуля", "Ремонт задвижки"], 500)
          +pricesResultItem("Холодильник недостаточно морозит", ["Заправка хладагентом", "Устранение утечки", "Устранение засора", "Ремонт системы оттайки"], 550)
          +pricesResultItem("Холодильник пищит", ["Заправка хладагентом", "Устранение утечки", "Ремонт электронного модуля"], 550)
          +pricesResultItem("Холодильник подтекает", ["Ремонт системы оттакйки", "Чистка дренажной системы"], 300)
          +pricesResultItem("Холодильник не включается", ["Ремонт пускового реле", "Ремонт электронного модуля"], 500)
          +pricesResultItem("Износился уплотнитель двери", ["Замена уплотнителя двери", "Проклейка прежнего уплотнителя"], 350)
        .prices-result-washmach.prices-result
          +pricesResultItem("Стиральная машина не сливает", ["Прочистка сливной системы", "Замена сливной помпы", "Ремонт электронного модуля"], 550)
          +pricesResultItem("Стиральная машина шумно работает", ["Замена подшипников", "Замена амортизаторов"], 900)
          +pricesResultItem("Стиральная машина не набирает воду", ["Ремонт наливного клапана", "Ремонт электронного модуля", "Прочистка наливной системы"], 850)
          +pricesResultItem("Стиральная машина не отжимает белье", ["Прочистка сливной системы", "Замена сливной помпы", "Замена ремня", "Замена таходатчика"], 500)
          +pricesResultItem("Стиральная машина не греет воду", ["Замена ТЭНа", "Замена датчика температуры", "Ремонт электронного модуля"], 300)
          +pricesResultItem("Стиральная машина не включается", ["Ремонт сетевого фильтра", "Ремонт электронного модуля"], 450)
          +pricesResultItem("Стиральная машина не крутит барабан", ["Замена щеток двигателя", "Замена ремня", "Замена подшипников"], 700)
          +pricesResultItem("Стиральная машина подтекает", ["Ремонт сливной системы", "Замена сальника", "Замена манжеты"], 600)
          +pricesResultItem("Подключение стиральной машины", ["Врезка в существующие коммуникации", "Отключение старой стиральной машины"], 200)
        .prices-result-dishwash.prices-result
          +pricesResultItem("Посудомоечная машины не набирает воду", ["Прочистка сливной системы", "Замена сливной помпы", "Ремонт электронного модуля"], 550)
          +pricesResultItem("Посудомоечная машины не сливает воду", ["Замена подшипников", "Замена амортизаторов"], 900)
          +pricesResultItem("Посудомоечная машина подтекает", ["Ремонт наливного клапана", "Ремонт электронного модуля", "Прочистка наливной системы"], 850)
          +pricesResultItem("Посудомоечная машина не греет воду", ["Прочистка сливной системы", "Замена сливной помпы", "Замена ремня", "Замена таходатчика"], 500)
          +pricesResultItem("Посудомоечная машина все время сливает воду", ["Замена ТЭНа", "Замена датчика температуры", "Ремонт электронного модуля"], 300)
          +pricesResultItem("Посудомоечная машина не включается", ["Ремонт сетевого фильтра", "Ремонт электронного модуля"], 450)
    .landing-page-map.landing-page-item
      .landing-page__title НАШИ ФИЛИАЛЫ
      iframe(class="landing-page-map-iframe" src="https://yandex.ru/map-widget/v1/?um=constructor%3A5c399c3744973741dbc8a0f209c591876218a33db80bf3560b05dc9a086456f0&amp;source=constructor" width="100%" height="450" frameborder="0")
    .landing-page-operating.landing-page-item
      .landing-page__title  ПОРЯДОК РАБОТЫ
      .landing-page-operating-box
        .landing-page-operating-item
          .landing-page-operating-item__text
            a( href="tel:88002001030") Позвоните нам по бесплатному номеру или оставьте заявку
          img(class="landing-page-operating-item__img" src="./assets/img/pictures/icon_phone.svg")
        .landing-page-operating-item__arrow arrow_forward
        .landing-page-operating-item 
          .landing-page-operating-item__text Выезд мастера на место в течение 30 минут
          img(class="landing-page-operating-item__img" src="./assets/img/pictures/icon_drive.svg")
        .landing-page-operating-item__arrow arrow_forward
        .landing-page-operating-item 
          .landing-page-operating-item__text Диагностика неисправности и согласование цены
          img(class="landing-page-operating-item__img" src="./assets/img/pictures/icon_diagn.svg")
        .landing-page-operating-item__arrow arrow_forward
        .landing-page-operating-item 
          .landing-page-operating-item__text Выполнение ремонта и оплата
          img(class="landing-page-operating-item__img" src="./assets/img/pictures/icon_repair.svg")
    .landing-page-brands.landing-page-item
      .landing-page__title ТЕХНИКА, С КОТОРОЙ МЫ РАБОТАЕМ
      .landing-page-brands-box
        - for (var i=1; i<48; i++)
          - var path = './assets/img/pictures/brands/brand_' + i + '.jpg'
          img(class="landing-page-brands-box__img" src=path)

    .landing-page-call.landing-page-item
      .landing-page__title 
        p КАК С НАМИ СВЯЗАТЬСЯ
      .call-box-wrapper
        .call-box
          .call-box__title 
            p БЕСПЛАТНЫЙ ЗВОНОК
          .call-box__text 
            p Позвоните нам по бесплатному номеру и сообщите о проблеме
          .call-box__direct-call
            a( href="tel:88002001030") 
              p(class="call-box__input") 8 800 200 10 30
        .line-solid
        .call-box
          .call-box__title 
            p НАПИСАТЬ В МЕССЕНДЖЕР
          .call-box__text 
            p Напишите нам в один из мессенжеров
          .messengers
            a(href="tg://resolve?domain=NikName") 
              p(class="messengers__item messengers_tm") Написать в Telegram
            a(href="https://wa.me/79219052453?text=Здравствуйте.%20Вопрос%20по%20поводу%20ремонта.") 
              p(class="messengers__item messengers_wa") Написать в Whatsapp
            a(href="viber://add?number=380950000000") 
              p(class="messengers__item messengers_vr") Написать в Viber
        .line-solid
        .call-box
          .call-box__title 
            p ПОЗВОНИТЬ ВАМ
          .call-box__text 
            p Оставьте свой номер телефона, и мы перезвоним Вам в течение 5 минут
          .call-box__callback
            input(class="call-box__input" type="text" placeholder="+7-___-__-__")