@import "./landing-page-main-services-item/landing-page-main-services-item.scss";
@import "./landing-page-main-services-item/__img/landing-page-main-services-item__img.scss";
@import "./landing-page-main-services-item/__title/landing-page-main-services-item__title.scss";
@import "./landing-page-main-services/landing-page-main-services.scss";
@import "./__text/landing-page-main__text.scss";
    

.landing-page-main {
    height: 100vh;
    min-height: rem(1000);
    box-sizing: border-box;
    padding-top: rem(150);
    display: flex;
    flex-direction: column;
    @include justify-space-between;
    padding-bottom: rem(100);
}