mixin advantageItem(title, text, pathToImg)
    .advantage-item
        div(class="advantage-item__title")= title
        div(class="advantage-item__text")= text
        img(class="advantage-item__img" src=pathToImg)
    
    