.landing-page-advantage-items {
    @include justify-space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding-bottom: rem(200);
    // padding-top: rem(100);
    box-sizing: border-box;
}