@import "../../../../mixins/mixins.scss";

.header-content {
    min-width: $minWidth;
    max-width: $maxWidth;
    height: rem(105);
    
    // @include justify-space-between;
    margin: auto;
    display: grid;
    grid-template-areas:
        // "logo title"
        "logo contacts"
        "logo header-menu";
    grid-template-rows: 50% 50%;
    grid-template-columns: rem(400) 1fr;
}

