@import "../blocks/page-blocks/page-blocks";
@import "../vars/vars.scss";
@import "../mixins/mixins.scss";
@import "../blocks/elements/elements.scss";
@import "../fonts/fonts.scss";
@import "./pages/landing-page/landing-page.scss";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 24px;
    
     @media screen and (max-width: 1024px) and (min-width: 800px) {
        font-size: 22px;
        
    }

    
    @media screen and (max-width: 800px) {
        font-size: 21px;
        
    }
    min-width: 320px;
}
   




body {
    margin: 0;
    padding: 0;
}



.wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    margin: 0 auto;
    min-height: 100vh;
    
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}
.content {
    position: relative;
    min-width: $minWidth;
    max-width: $maxWidth;
    height: 100%;

    // min-width: 800px;
    // max-width: 1200px;
    // width: 100%;
    // margin: auto;
}
.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, $dark15, $white);
    // background-color: yellow;
    
    
}
.img1 {
    fill: red;
}
