include ../../elements/logo/logo.pug

mixin header
    header(class="header-wrapper")
        .header-content
            .header__logo-container 
                +logo

                a(href="index.html") 
                    
                    //- +logo
            //- .header__title СЛУЖБА ВЫЕЗДНОГО РЕМОНТА БЫТОВОЙ ТЕХНИКИ
            menu(class="menu")
                li(class="menu__item")
                    a(href="#") ГЛАВНАЯ
                li(class="menu__item")
                    a(href="#") О НАС
                li(class="menu__item")
                    a(href="#") УСЛУГИ
                li(class="menu__item")
                    a(href="#") ВЫЗВАТЬ МАСТЕРА
                li(class="menu__item")
                    a(href="#") FAQ
            .header__contacts
                a(class="contact-tel" href="tel:88002001030") 8 800 200 10 30
                .contact-adress г. Санкт-Петербург, Проcпект Просвещения, д. 53
        .header__line
                
            
                