mixin header
    header(class="header-wrapper")
        .header-content
            .header__logo-container
                a(href="index.html")
                    //- +logo
            menu(class="menu")
                li(class="menu__item")
                    a(href="#") Главная
                li(class="menu__item")
                    a(href="#") О нас
                li(class="menu__item")
                    a(href="#") Услуги
                li(class="menu__item")
                    a(href="#") Вызов мастера
                li(class="menu__item")
                    a(href="#") FAQ
            .header__contacts
                .contact1 +7 812 507 84 64
                .contact2 +7 911 097 80 61
            .header__call
                a(href="#") вызвать мастера
                